<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720583868902-k7etivdjhrbsn6r6iun4p79nqri4kmso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720583868902-k7etivdjhrbsn6r6iun4p79nqri4kmso</string>
	<key>API_KEY</key>
	<string>AIzaSyCGj0bRgv4YwGoz1cCpYkw_xvXT4GX95I4</string>
	<key>GCM_SENDER_ID</key>
	<string>720583868902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FluxStore</string>
	<key>PROJECT_ID</key>
	<string>flux-store-d1ff9</string>
	<key>STORAGE_BUCKET</key>
	<string>flux-store-d1ff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720583868902:ios:121da7ab0c36bbe3365627</string>
</dict>
</plist>